
<H1>TIC TAC TOE</H1>
<div ng-app="">
<!-- <p>Whats your name <input type="text" ng-model="name" placeholder="Enter name here"></p>
<p>{{ name }} , choose a level to play this game:</p> -->
</div>
<form method="post" action="getLevel">  
  <p>Choose an opponent:</p>
      <select type="text" name="player2" id="player2"> 
        <option value=""></option>
        <option value="Human_player">Human</option>  
        <option value="Random_player">Easy</option>
        <option value="Sequential_player">Medium</option>
        <option value="Unbeatable_player">Hard</option>
      </select>

    <button type="submit" onclick="myFunction()">Play</button>

    </p>
     </form>
   <!--  <script>
        function myFunction(){
          document.getElementById("mySelect").value = "Unbeatable_player";
          //alert("Test");
        }
    </script> -->

You are playing against <%=session[:player2]%>!
<form method="post" action="getMove">  
<table id='board'>
<!-- 
<div>
  YOU WINS! <%=session[:playerWin]%>
</div>
<div>
YOU LOST:! <%=session[:computerWin]%>
</div> -->

<tr>
    <td><button class="buttontd" type="submit" name="position[]" value="0"><%=session[:board].board_table[0]%></button></td>
    <td><button class="buttontd"  type="submit" name="position[]" value="1"><%=session[:board].board_table[1]%></button></td>
   <td><button class="buttontd"  type="submit" name="position[]" value="2"><%=session[:board].board_table[2]%></button></td>
  </tr>
  <tr>
    <td><button class="buttontd" type="submit" name="position[]" value="3"><%=session[:board].board_table[3]%></button></td>
    <td><button class="buttontd"  type="submit" name="position[]" value="4"><%=session[:board].board_table[4]%></button></td>
   <td><button class="buttontd"  type="submit" name="position[]" value="5"><%=session[:board].board_table[5]%></button></td>
  </tr>
  <tr>
    <td><button class="buttontd" type="submit" name="position[]" value="6"><%=session[:board].board_table[6]%></button></td>
    <td><button class="buttontd"  type="submit" name="position[]" value="7"><%=session[:board].board_table[7]%></button></td>
   <td><button class="buttontd"  type="submit" name="position[]" value="8"><%=session[:board].board_table[8]%></button></td>
  </tr>
  </div>
</table>
<br>
    <div>Result = <%=session[:result]%> </div>
<!--           <input type="submit" value="Submit"> 
 -->  
 </form>
</body>
